<html>
   <body>
         <h1>1001670648</h1>
      <h1>SHENVI, AKSHAY</h1>
      
      <hr>
      <h1>Question 1:</h1>
      <form action = "/connect" method = "GET">
         <p>Enter query: <input type="text" name="query"/></p>
         <p>Enter number of times to be run: <input type="text" name="num"/></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      <hr>
      <h1>Question 2:</h1>
      <form action = "/complex" method = "GET">
         <p>Enter Mag from:<input type="text" name="magfrom"/></p>
         <p>Enter Mag to:<input type="text" name="magto"/></p>
         <p>Enter number of times to be run: <input type="text" name="num"/></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      <h1>Question 2 Redis:</h1>
      <form action = "/complexredis" method = "GET">
         <p>Enter Mag from:<input type="text" name="magfrom"/></p>
         <p>Enter Mag to:<input type="text" name="magto"/></p>
         <p>Enter number of times to be run: <input type="text" name="num"/></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      <hr>
      <h1>Magnitude Range- Assignment-2</h1>
      <form action ="/magrange" method="GET">
         <p>Enter Magnitude from:<input type="text" name="magfrom"/></p>
         <p>Enter Magnitude to:<input type="text" name="magto"/></p>
         <p>Enter Step Size:<input type="text" name="step"/></p>
         <p><input type="submit" value="submit"/></p>
      </form>
      </body>
</html>