<!doctype html>
<html>
      <head>

                  <!-- Bar Graph         -->
                  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                  <script>
            google.charts.load('current', {packages: ['corechart', 'bar']});
            google.charts.setOnLoadCallback(drawMaterial);
            
            function drawMaterial() {
                  var data = google.visualization.arrayToDataTable([
                    [ 'Start - End', 'count'],
                    {% for i in result %}
                    [ '{{i[0]}}'+'-'+'{{i[1]}}',Number('{{i[2]}}')],
                    {% endfor%}
                  ]);
            
                  var materialOptions = {
                    chart: {
                      title: 'Count Vs Number Of Iterations'
                    },
                    hAxis: {
                      title: 'Count',
                      minValue: 0,
                    },
                    vAxis: {
                      title: 'Number of Iterations'
                    },
                    bars: 'horizontal'
                  };
                  var materialChart = new google.charts.Bar(document.getElementById('chart_div'));
                  materialChart.draw(data, materialOptions);
                }
                        </script> 
                        
                        
                        <!-- Piechart -->
                        <script type="text/javascript">
                          google.charts.load('current', {'packages':['corechart']});
                          google.charts.setOnLoadCallback(drawChart);
                    
                          function drawChart() {
                    
                            var data = google.visualization.arrayToDataTable([
                            [ 'Start - End', 'count'],
                            {% for i in result %}
                            [ '{{i[0]}}'+'-'+'{{i[1]}}',Number('{{i[2]}}')],
                            {% endfor%}
                            ]);
                    
                            var options = {
                              title: 'Count of Mag Ranges'
                            };
                    
                            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                    
                            chart.draw(data, options);
                          }
                        </script>



                         <!-- Scatter Plot  -->
                         <script>
                            google.charts.load('current', {'packages':['corechart']});
                            google.charts.setOnLoadCallback(drawChart);

                            function drawChart() {
                              var data = google.visualization.arrayToDataTable([
                              [ 'Start - End', 'count'],
                                {% for i in result %}
                                [ '{{i[0]}}'+'-'+'{{i[1]}}',Number('{{i[2]}}')],
                                {% endfor%}
                              ]);

                              var options = {
                                title: 'Count of Mag Ranges',
                                hAxis: {title: 'Magnitude', minValue: 0, maxValue: 15},
                                vAxis: {title: 'Count', minValue: 0, maxValue: 15},
                                legend: 'none'
                              };

                              var chart = new google.visualization.ScatterChart(document.getElementById('chart_div_scatterplot'));

                              chart.draw(data, options);
                            }

                         </script>

                         <!-- Histogram -->

                         <script>
                         
                          google.charts.load("current", {packages:["corechart"]});
                          google.charts.setOnLoadCallback(drawChart);
                          function drawChart() {
                            var data = google.visualization.arrayToDataTable([
                            [ 'Start - End', 'count'],
                                {% for i in result %}
                                [ '{{i[0]}}'+'-'+'{{i[1]}}',Number('{{i[2]}}')],
                                {% endfor%}
                                ]);
                            var options = {
                              title: 'Count of Mag Ranges',
                              hAxis: {title: 'Count', minValue: 0, maxValue: 15},
                                vAxis: {title: 'Magnitude', minValue: 0, maxValue: 15},
                              legend: { position: 'none' },
                            };

                            var chart = new google.visualization.Histogram(document.getElementById('chart_div_histogram'));
                            chart.draw(data, options);
                          }
                         
                         
                         
                         </script>
                  
      </head>
   <body>
      <h1>
          {% for i in creds%}
          {{i[0]}},
          {{i[1]}}
          {% endfor %}
          </h1>
          <table border="1">
              <tr>
                      <th>Start - End</th>
                      <th>count</th>
                    </tr>
                    {% for i in result %}
                    <tr>
                      <td>{{i[0]}}-{{1}}</td>
                      <td>{{i[2]}}</td>
                    </tr>
                    {% endfor%}
      </table>


         {% if chart=="Bar Chart"%}
         <hr>
         <div id="chart_div"></div>
         {% elif chart=="Pie Chart"%}
         <hr>
         <div id="piechart" style="width: 900px; height: 500px;"></div>
         {% elif chart=="Scatterplot"%}
         <hr>
         <div id="chart_div_scatterplot" style="width: 900px; height: 500px;"></div>
         {% elif chart=="Histogram"%}
         <hr>
         <div id="chart_div_histogram" style="width: 900px; height: 500px;"></div>
         {% endif %}
            

            



         <hr>
      
      </body>
</html>