<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
            <h1>1001670648</h1>
            <h1>SHENVI, AKSHAY</h1>
        <!-- <h1>Total time With Redis:{{withRedis}}</h1>
        <h1>Total time Without Redis:{{withOutRedis}}</h1> -->
        <!-- <table>
            <tr>
                <th>Without Redis</th>
                <th>With Redis</th>
                
            </tr>
            {% for i in time %}
            <tr>
                
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                
            </tr>
            {% endfor %}
        </table> -->
        
        
        
        
        
        <!-- <table>
                <tr>
                        <th>Place</th>
                        <th>time</th>
                        <th>mag</th>
                        
                    </tr>
                    {% for i in result %}
                    <tr>
                        
                        <td>{{i[0]}}</td>
                        <td>{{i[1]}}</td>
                        <td>{{i[2]}}</td>
                        
                    </tr>
                    {% endfor %}

    </table> -->
    <h2>
        {{totaltime}}
    </h2>
    <table>
            <tr>
                   
                    <th>time</th>
                    
                    
                </tr>
                {% for j in time %}
                <tr>
                    
                    
                    <td>{{j}}</td>
                    
                    
                </tr>
                {% endfor %}

</table>
<table>
        <tr>
               
                <th>random num 1</th>
                <th>random num 2</th>
                <th>count</th>
                
                
            </tr>
            {% for j in randnumbers %}
            <tr>
                
                
                <td>{{j[0]}}</td>
                <td>{{j[1]}}</td>
                <td>{{j[2]}}</td>
                
            </tr>
            {% endfor %}

</table>
    </body>
</html>