<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Total time With Redis:{{withRedis}}</h1>
        <h1>Total time Without Redis:{{withOutRedis}}</h1>
        <table>
            <tr>
                <th>Without Redis</th>
                <th>With Redis</th>
                
            </tr>
            {% for i in time %}
            <tr>
                
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                
            </tr>
            {% endfor %}
        </table>
    </body>
</html>